/* .custom-button {
    background-color: #d1eaff !important;
    color: #226099 !important;
    border: 1px solid #d1eaff !important;
} */

.timeline-icon {
    width: 35px;
    height: 35px;
    background-color: #6e6e6e;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.timeline-icon.active {
    background-color: #226099;
    color: white;
}

.timeline-line {
    position: absolute;
    left: 17px;
    top: 35px;
    height: 100%;
    width: 2px;
    background-color: #e9ecef;
}

.custom-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: black; /* Adjust color */
    cursor: pointer;
  }

  .dropdown-divider {
    border-top: 1px solid black !important;
  }