.accordion-header.selected-accordion-table-bg-color:hover {
  background-color: #e5e5e5;
  border-radius: 0px;
}
.accordion-header:hover {
  background-color: #f8f9fa;
  border-radius: 16px;
  transition: all 0.3s ease;
}
