.border-radius-8px {
  border-radius: 8px;
}
.accordion-table-bg-color {
  background-color: #fff;
}

.selected-accordion-table-bg-color {
  background-color: #e5e5e5;
}
.accordion-id-section {
  background-color: #000;
  color: #fff;
}
.accordion-tag-section {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  width: 130px;
}

.dark-mode {
  .accordion-table-bg-color {
    background-color: #1a1a3c;
  }

  .selected-accordion-table-bg-color {
    background-color: #1a2130;
  }
  .accordion-id-section {
    background-color: #fff;
    color: #000;
  }
  .accordion-tag-section {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    width: 130px;
  }
}
