.inclusion-bg-light-gray-1 {
  display: flex;
  background-color: #e5e5e5 !important;
  color: #000 !important;
}
.inclusion-bg-light-gray-2 {
  display: flex;
  background-color: #c5c5c5 !important;
  color: #fff !important;
}
