.form-control-label-rounded-start {
  border-start-start-radius: 50px !important;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  border-end-start-radius: 50px !important;
  border-inline-end: 0 !important;
  color: #000 !important;
  background-color: #f1f2f2 !important;
}
.form-control-label-rounded-start-gray-bg {
  border-start-start-radius: 50px !important;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  border-end-start-radius: 50px !important;
  border-inline-end: 0 !important;
  color: #000 !important;
  background-color: #e5e5e5 !important;
}
.form-bg {
  background-color: #f1f2f2 !important;
}
.form-control-label-rounded-end {
  border-start-end-radius: 50px !important;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  border-end-end-radius: 50px !important;
  border-inline-start: 0 !important;
  color: #000 !important;
  background-color: #f1f2f2 !important;
}
.form-control-border-color {
  border-color: hsla(240, 3%, 71%, 0.809) !important;
}
.form-control-text-input-rounded-end {
  border-start-end-radius: 50px !important;
  border-end-end-radius: 50px !important;
  border-inline-start: 0 !important;
  color: #000 !important;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
}
.form-control-text-input-rounded-start {
  border-start-start-radius: 50px !important;
  border-end-start-radius: 50px !important;
  border-inline-end: 0 !important;
  color: #000 !important;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
}
.form-control-text-input-rounded-full {
  padding: 12px;
  border-color: hsla(240, 3%, 71%, 0.809) !important;
  color: #000 !important;
  padding-left: 20px;
  &::placeholder {
    font-weight: 300;
  }
  &:active {
    border-color: hsla(240, 3%, 71%, 0.809) !important;
  }
  &:focus {
    border-color: hsla(240, 3%, 71%, 0.809) !important;
  }
}

.form-control-custom-date-picker {
  background-color: #fff !important;
  width: 50% !important;
  padding: 2px 20px !important;
  border-radius: 13px !important;
}
.form-control-input-group-text {
  position: absolute;
  top: 5.5px;
  right: 10px;
  opacity: 50%;
  border: 0;
  background-color: #fff;
  color: #000;
}
.form-control-label-color-picker {
  padding-left: 55px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.sun-editor {
  border: 1px solid #e5e7eb !important;
  transition: border-color 0.2s ease-in-out;
}
.dark-mode .sun-editor {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
// .sun-editor:hover {
//   border-color: #b3b3b3 !important;
//   .se-notice {
//     border-color: #b3b3b3 !important;
//   }
//   .se-toolbar {
//     outline-color: #b3b3b3 !important;
//   }
//   .se-resizing-bar {
//     border-top-color: #b3b3b3 !important;
//   }
// }

.sun-editor:hover,
.sun-editor:focus-within {
  border-color: #b3b3b3 !important;
}
.dark-mode .sun-editor:hover,
.dark-mode .sun-editor:focus-within {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.sun-editor:hover .se-notice,
.sun-editor:focus-within .se-notice {
  border-color: #b3b3b3 !important;
}
.sun-editor:hover .se-toolbar,
.sun-editor:focus-within .se-toolbar {
  outline-color: #b3b3b3 !important;
}
.dark-mode .sun-editor:hover .se-toolbar,
.dark-mode .sun-editor:focus-within .se-toolbar {
  outline-color: rgba(255, 255, 255, 0.1) !important;
}
.sun-editor:hover .se-resizing-bar,
.sun-editor:focus-within .se-resizing-bar {
  border-top-color: #b3b3b3 !important;
}
.dark-mode .sun-editor:hover .se-resizing-bar,
.daek-mode .sun-editor:focus-within .se-resizing-bar {
  border-top-color: rgba(255, 255, 255, 0.1) !important;
}
.sun-editor:hover .se-btn-module-border,
.sun-editor:focus-within .se-btn-module-border {
  border-color: #b3b3b3 !important;
}

/* Focus effect */
.sun-editor:focus-within {
  border-color: #fec9da80 !important;
}
.sun-editor:focus-within .se-notice {
  border-color: #fec9da80 !important;
}
.sun-editor:focus-within .se-toolbar {
  outline-color: #fec9da80 !important;
}
.sun-editor:focus-within .se-resizing-bar {
  border-top-color: #fec9da80 !important;
}
.sun-editor:focus-within .se-btn-module-border {
  border-color: #fec9da80 !important;
}

.se-notice {
  border: 1px solid #e5e7eb !important;
  transition: border-color 0.2s ease-in-out;
}

.sun-editor .se-toolbar {
  // outline: 1px solid #e5e7eb !important;
  transition: outline-color 0.2s ease-in-out;
}

.sun-editor .se-resizing-bar {
  // border-top: 1px solid #e5e7eb !important;
  transition: border-top-color 0.2s ease-in-out;
}
.sun-editor .se-btn-module-border {
  border-color: #e5e7eb !important;
  transition: border-color 0.2s ease-in-out;
}
.dark-mode .sun-editor .se-btn-module-border {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
.dark-mode .sun-editor-editable {
  color: #fff;
}
